services:
  frontend:
    ports:
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
      - ./frontend/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
